@page
@model MyApp.Namespace.SobreMiModel
@{
    ViewData["Title"] = "Sobre mí";
}

<article>
    <h1>¡Hola! 👋</h1>
    <p>
        Soy Alejandro Estornell, un <strong>desarrollador <i>backend</i></strong>, ubicado en Madrid, España 🇪🇸, con
        <strong>más de 5 años de experiencia</strong> especializado en <a href="https://dotnet.microsoft.com"
            target="_blank" rel="noopener noreferrer">.NET</a> y <a href="https://dotnet.microsoft.com/languages/csharp"
            target="_blank" rel="noopener noreferrer">C#</a>. Actualmente trabajo en <a
            href="https://capitole-consulting.com" target="_blank" rel="noopener noreferrer">Capitole</a> para <a
            href="https://www.vueling.com" target="_blank" rel="noopener noreferrer">Vueling</a>.
    </p>
    <p>
        Si bien mi especialidad es el <i>backend</i>, también he implementado soluciones <i>full stack</i> para
        compañías como <a href="https://www.capgemini.com" target="_blank" rel="noopener noreferrer">Capgemini</a>, <a
            href="https://www.normon.com" target="_blank" rel="noopener noreferrer">Normon</a>,
        <a href="https://www.telepizza.es" target="_blank" rel="noopener noreferrer">Telepizza</a> y <a
            href="https://www.mars.com" target="_blank" rel="noopener noreferrer">Mars</a>, por lo que igualmente cuento
        con experiencia en el desarrollo <i>frontend</i> con HTML, CSS y JavaScript.
    </p>
    <p>
        Asimismo, mi paso por diferentes sectores, desde el alimentario hasta el aeronáutico, pasando por el
        farmacéutico, me ha permitido aplicar y mejorar mis conocimientos en materia de desarrollo de <i>software</i> en
        diferentes dominios y modelos de negocio, lo que da cuenta de mi versatilidad.
    </p>
    <h2>💼 Experiencia laboral</h2>
</article>
