@page
@model MyApp.Namespace.SobreMiModel
@{
    ViewData["Title"] = "Sobre mí";
}

<article>
    <h1>¡Hola! 👋</h1>
    <p>
        Soy Alejandro Estornell, un <strong>desarrollador <i>backend</i></strong>, ubicado en Madrid, España 🇪🇸, con
        <strong>más de 5 años de experiencia</strong> especializado en <a href="https://dotnet.microsoft.com"
            target="_blank" rel="noopener noreferrer">.NET</a> y <a href="https://dotnet.microsoft.com/languages/csharp"
            target="_blank" rel="noopener noreferrer">C#</a>. Actualmente trabajo en <a
            href="https://capitole-consulting.com" target="_blank" rel="noopener noreferrer">Capitole</a> para <a
            href="https://www.vueling.com" target="_blank" rel="noopener noreferrer">Vueling</a>.
    </p>
    <p>
        Si bien mi especialidad es el <i>backend</i>, también he implementado soluciones <i>full stack</i> para
        compañías como <a href="https://www.capgemini.com" target="_blank" rel="noopener noreferrer">Capgemini</a>, <a
            href="https://www.normon.com" target="_blank" rel="noopener noreferrer">Normon</a>,
        <a href="https://www.telepizza.es" target="_blank" rel="noopener noreferrer">Telepizza</a> y <a
            href="https://www.mars.com" target="_blank" rel="noopener noreferrer">Mars</a>, por lo que igualmente cuento
        con experiencia en el desarrollo <i>frontend</i> con <a href="https://developer.mozilla.org/docs/Web/HTML"
            target="_blank" rel="noopener noreferrer">HTML</a>, <a href="https://developer.mozilla.org/docs/Web/CSS"
            target="_blank" rel="noopener noreferrer">CSS</a> y <a
            href="https://developer.mozilla.org/docs/Web/JavaScript" target="_blank"
            rel="noopener noreferrer">JavaScript</a>.
    </p>
    <p>
        Asimismo, mi trayectoria por diferentes sectores, desde el alimentario hasta el aeronáutico, pasando por el
        farmacéutico, me ha permitido aplicar y mejorar mis conocimientos en materia de desarrollo de <i>software</i> en
        diferentes dominios y modelos de negocio, lo que da cuenta de mi versatilidad.
    </p>
</article>
<article>
    <h1>💼 Experiencia laboral</h1>
    <div class="timeline">
        <div class="timeline-event">
            <svg class="timeline-event-marker" xmlns="http://www.w3.org/2000/svg" width="12" height="12">
                <circle cx="6" cy="6" r="6"></circle>
            </svg>
            <div class="timeline-event-content">
                <h4><strong>.NET <i>Backend Developer</i></strong></h4>
                <h5><strong>Capitole</strong> - Mayo 2023 - Actualidad</h5>
                <p>
                    Desarrollo de <i>backends</i> y herramientas de consola transversales a los equipos internos
                    de Vueling. Detección, mitigación y reducción de incidencias de seguridad.
                </p>
            </div>
        </div>
        <div class="timeline-event">
            <svg class="timeline-event-marker" xmlns="http://www.w3.org/2000/svg" width="12" height="12">
                <circle cx="6" cy="6" r="6"></circle>
            </svg>
            <div class="timeline-event-content">
                <h4><strong>.NET <i>Software Developer</i></strong></h4>
                <h5><strong>Capgemini</strong> - Agosto 2022 - Abril 2023</h5>
                <p>Desarrollo de soluciones <strong>EBR</strong> <i>full stack</i> así como de <i>backends</i> para
                    generar informes
                    PDF en Normon. Desarrollo e integración de herramientas con <a href="https://parsec-corp.com"
                        target="_blank" rel="noopener noreferrer">TrakSYS</a> para agilizar y facilitar el
                    flujo de trabajo del resto de los desarrolladores.</p>
            </div>
        </div>
        <div class="timeline-event">
            <svg class="timeline-event-marker" xmlns="http://www.w3.org/2000/svg" width="12" height="12">
                <circle cx="6" cy="6" r="6"></circle>
            </svg>
            <div class="timeline-event-content">
                <h4><strong><i>Junior</i> .NET <i>Software Developer</i></strong></h4>
                <h5><strong>Capgemini</strong> - Septiembre 2020 - Julio 2022</h5>
                <p>Desarrollo de soluciones EBR <i>full stack</i> en Normon. Implementación y mantenimiento de
                    sistemas <strong>MES</strong> <i>full stack</i> para Telepizza y Mars.</p>
            </div>
        </div>
    </div>
</article>
<article>
    <h2>🛠️ Áreas de interés y desarrollo profesional</h2>
    <p>
        El compromiso que mantengo con el aprendizaje y la mejora continua es constante. De ahí que, actualmente, tanto
        en mi tiempo libre como en las horas de trabajo destinadas al estudio y la formación, mi esfuerzo se dirige a
        tres áreas clave:
    </p>
    <ul>
        <li>
            <strong>Expansión en el desarrollo <i>frontend</i>:</strong> Dedico tiempo a consolidar mis
            habilidades con HTML, CSS y JavaScript, los pilares fundamentales del desarrollo <i>web</i>. Sobre esta
            base, exploro tecnologías del
            ecosistema .NET como
            <a href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor" target="_blank"
                rel="noopener noreferrer">Blazor</a>,
            <a href="https://dotnet.microsoft.com/apps/aspnet/mvc" target="_blank" rel="noopener noreferrer">Razor
                Pages</a>
            y <a href="https://dotnet.microsoft.com/apps/aspnet/mvc" target="_blank" rel="noopener noreferrer">MVC</a>
            para construir interfaces de usuario modernas y eficientes.
        </li>
        <li>
            <strong>Profundización en tecnologías <i>backend</i>:</strong> Me mantengo al día con las últimas novedades
            de C# y el ecosistema .NET. Mi objetivo es profundizar en su funcionamiento para diseñar y construir
            servicios más robustos, escalables y de alto rendimiento.
        </li>
        <li>
            <strong>Desarrollo de <i>apps</i> nativas para plataformas <a href="https://www.apple.com" target="_blank"
                    rel="noopener noreferrer">Apple</a>:</strong> Como área de crecimiento personal, estoy aprendiendo a
            desarrollar aplicaciones nativas para <a href="https://www.apple.com/ios" target="_blank"
                rel="noopener noreferrer">iOS</a>, <a href="https://www.apple.com/macos" target="_blank"
                rel="noopener noreferrer">macOS</a> y <a href="https://www.apple.com/watchos" target="_blank"
                rel="noopener noreferrer">watchOS</a>, utilizando <a href="https://www.swift.org" target="_blank"
                rel="noopener noreferrer">Swift</a> junto a <i>frameworks</i> de UI como SwiftUI, UIKit y AppKit.
        </li>
    </ul>
</article>
