/* General styles */
:root {
  --primary-color: #fefefe;
  --secondary-color: #393939;
  --accent-color: #0172ad;
}

html {
  background-color: rgb(
    from var(--primary-color) calc(r - 5) calc(g - 5) calc(b - 5)
  );
}

body {
  min-height: 100dvh;
  padding: 1em 1em 2em;
  font-family:
    Inter, system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji';
  color: var(--secondary-color);
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header {
  position: fixed;
  z-index: 1;
  align-self: center;
  top: 90%;
}

main {
  margin-top: 1em;
  width: 100%;
}

p,
li {
  max-width: 75ch;
  line-height: 1.75;
  margin-block: 1lh;
  font-weight: 300;
}

strong,
b {
  color: var(--accent-color);
}

a {
  color: var(--accent-color);
  font-weight: 400;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(from var(--accent-color) calc(r - 65) calc(g - 65) calc(b - 65));
}

footer {
  text-align: center;
  padding-bottom: 2em;
}

.nav-header {
  display: flex;
  gap: 1.5em;
  justify-content: center;
  background-color: rgb(
    from var(--primary-color) calc(r - 20) calc(g - 20) calc(b - 20) / 50%
  );
  backdrop-filter: blur(20px);
  border-radius: 25px;
  padding: 1em 1.5em;
  box-shadow:
    0 10px 15px -3px rgb(0 0 0 / 10%),
    0 4px 6px -4px rgb(0 0 0 / 10%);
}

.nav-header-link {
  text-decoration: none;
  color: var(--secondary-color);
}

.nav-header-link:visited {
  color: var(--secondary-color);
}

.nav-header-link:hover {
  text-decoration: none;
  color: var(--accent-color);
}

.nav-header-link-active {
  color: var(--accent-color);
}

.nav-header-link-active:visited {
  color: var(--accent-color);
}

/* Index styles */
.profile-img {
  width: 96px;
  height: 96px;
  border-radius: calc(infinity * 1px);
  box-shadow:
    0 10px 15px -3px rgb(0 0 0 / 10%),
    0 4px 6px -4px rgb(0 0 0 / 10%);
}

.profile-desc {
  max-width: 60ch;
}

.profile-social {
  display: flex;
  align-items: center;
  gap: 1.5em;
}

.profile-social-link {
  color: rgb(from var(--secondary-color) r g b / 70%);
  transition: color 0.15s ease-in-out;
}

.profile-social-link:hover {
  color: var(--secondary-color);
}

.blog-list {
  margin-top: 2.5em;
}

/* About me styles */
.timeline::before {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 1px;
  background-color: var(--secondary-color);
}

.timeline {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 1.5em;
  padding-left: 1em;
}

.timeline-event {
  display: flex;
  align-items: baseline;
}

.timeline-event-marker {
  fill: var(--accent-color);
  position: relative;
  left: -6px;
  top: 6px;
  min-width: 12px;
}

.timeline-event-content {
  padding-left: 1em;
}

@media (width >= 568px) {
  /* General styles */
  body {
    padding-left: 5em;
    padding-right: 5em;
  }

  main {
    margin-top: 5em;
  }

  header {
    top: inherit;
  }
}

@media (width >= 768px) {
  /* General styles */
  body {
    max-width: 1024px;
    padding-left: 10em;
    padding-right: 10em;
    margin-left: auto;
    margin-right: auto;
  }

  main {
    margin-top: 7em;
  }

  .nav-header {
    gap: 2em;
  }

  /* About me styles */
  .timeline::before {
    left: 50%;
  }

  .timeline {
    padding-left: 0;
  }

  .timeline-event:nth-child(even) {
    flex-direction: row-reverse;
  }

  .timeline-event-marker {
    order: 1;
  }

  .timeline-event-content {
    width: 50%;
    text-align: right;
    padding-left: 0;
    padding-right: 2em;
  }

  .timeline-event:nth-child(odd) .timeline-event-marker {
    left: -6px;
  }

  .timeline-event:nth-child(even) .timeline-event-content {
    text-align: left;
    padding-left: 2em;
    padding-right: 0;
  }

  .timeline-event:nth-child(even) .timeline-event-marker {
    left: 6px;
  }
}
