---
import Layout from '../layouts/Layout.astro'
---

<Layout pageName="Sobre mí">
  <article>
    <h1>¡Hola! 👋</h1>
    <p>
      Soy Alejandro Estornell, un <strong>desarrollador <i>backend</i></strong>,
      ubicado en Madrid, España 🇪🇸, con
      <strong>más de 5 años de experiencia</strong> especializado en <a
        href="https://dotnet.microsoft.com"
        target="_blank"
        rel="noopener noreferrer">.NET</a
      > y <a
        href="https://dotnet.microsoft.com/languages/csharp"
        target="_blank"
        rel="noopener noreferrer">C#</a
      >. Actualmente trabajo en <a
        href="https://capitole-consulting.com"
        target="_blank"
        rel="noopener noreferrer">Capitole</a
      > para <a
        href="https://www.vueling.com"
        target="_blank"
        rel="noopener noreferrer">Vueling</a
      >.
    </p>
    <p>
      Si bien mi especialidad es el <i>backend</i>, también he implementado
      soluciones <i>full stack</i> para compañías como <a
        href="https://www.capgemini.com"
        target="_blank"
        rel="noopener noreferrer">Capgemini</a
      >, <a
        href="https://www.normon.com"
        target="_blank"
        rel="noopener noreferrer">Normon</a
      >,
      <a
        href="https://www.telepizza.es"
        target="_blank"
        rel="noopener noreferrer">Telepizza</a
      > y <a
        href="https://www.mars.com"
        target="_blank"
        rel="noopener noreferrer">Mars</a
      >, por lo que igualmente cuento con experiencia en el desarrollo <i
        >frontend</i
      > con <a
        href="https://developer.mozilla.org/docs/Web/HTML"
        target="_blank"
        rel="noopener noreferrer">HTML</a
      >, <a
        href="https://developer.mozilla.org/docs/Web/CSS"
        target="_blank"
        rel="noopener noreferrer">CSS</a
      > y <a
        href="https://developer.mozilla.org/docs/Web/JavaScript"
        target="_blank"
        rel="noopener noreferrer">JavaScript</a
      >.
    </p>
    <p class="mb-4">
      Asimismo, mi trayectoria por diferentes sectores, desde el alimentario
      hasta el aeronáutico, pasando por el farmacéutico, me ha permitido aplicar
      y mejorar mis conocimientos en materia de desarrollo de <i>software</i> en
      diferentes dominios y modelos de negocio, lo que da cuenta de mi versatilidad.
    </p>

    <div class="card mb-4 mx-sm-5 px-3 py-3 px-sm-4 border-light-subtle">
      <div class="card-body">
        <div class="card-title">
          <h2 class="fs-5">💼 Experiencia laboral</h2>
        </div>
        <ul class="list-group list-group-flush">
          <li
            class="list-group-item px-0 d-flex column-gap-2 align-items-center border-0"
          >
            <img
              src="/images/capitole.png"
              alt="Logo de Capitole"
              width="32"
              height="32"
            />
            <div class="w-50">
              <p class="mb-1">Capitole</p>
              <small>
                <p class="mb-1 text-body-secondary">
                  .NET <i>Backend Developer</i>
                </p>
              </small>
            </div>
            <small class="d-flex align-self-end ms-auto w-50">
              <p class="mb-1 text-body-tertiary w-100 text-end">
                Mayo 2023 - Actualidad
              </p>
            </small>
          </li>
          <li
            class="list-group-item px-0 pb-0 d-flex column-gap-2 align-items-center border-0"
          >
            <img
              src="/images/capgemini.png"
              alt="Logo de Capgemini"
              width="32"
              height="32"
            />
            <div class="w-50">
              <p class="mb-1">Capgemini</p>
              <small>
                <p class="mb-0 text-body-secondary">
                  .NET <i>Software Developer</i>
                </p>
              </small>
            </div>
            <small class="d-flex align-self-end ms-auto w-50">
              <p class="mb-0 text-body-tertiary w-100 text-end">
                Septiembre 2020 - Abril 2023
              </p>
            </small>
          </li>
        </ul>
      </div>
    </div>

    <h2>🛠️ Áreas de interés y desarrollo profesional</h2>
    <p>
      El compromiso que mantengo con el aprendizaje y la mejora continua es
      constante. De ahí que, actualmente, tanto en mi tiempo libre como en las
      horas de trabajo destinadas al estudio y la formación, mi esfuerzo se
      dirige a tres áreas clave:
    </p>
    <ul>
      <li>
        <strong>Expansión en el desarrollo <i>frontend</i>:</strong> Dedico tiempo
        a consolidar mis habilidades con HTML, CSS y JavaScript, los pilares fundamentales
        del desarrollo <i>web</i>. Sobre esta base, exploro tecnologías del
        ecosistema .NET como
        <a
          href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor"
          target="_blank"
          rel="noopener noreferrer">Blazor</a
        >,
        <a
          href="https://dotnet.microsoft.com/apps/aspnet/mvc"
          target="_blank"
          rel="noopener noreferrer">Razor Pages</a
        >
        y <a
          href="https://dotnet.microsoft.com/apps/aspnet/mvc"
          target="_blank"
          rel="noopener noreferrer">MVC</a
        >
        para construir interfaces de usuario modernas y eficientes.
      </li>
      <li>
        <strong>Profundización en tecnologías <i>backend</i>:</strong> Me mantengo
        al día con las últimas novedades de C# y el ecosistema .NET. Mi objetivo
        es profundizar en su funcionamiento para diseñar y construir servicios más
        robustos, escalables y de alto rendimiento.
      </li>
      <li>
        <strong
          >Desarrollo de <i>apps</i> nativas para plataformas <a
            href="https://www.apple.com"
            target="_blank"
            rel="noopener noreferrer">Apple</a
          >:</strong
        > Como área de crecimiento personal, estoy aprendiendo a desarrollar aplicaciones
        nativas para <a
          href="https://www.apple.com/ios"
          target="_blank"
          rel="noopener noreferrer">iOS</a
        >, <a
          href="https://www.apple.com/macos"
          target="_blank"
          rel="noopener noreferrer">macOS</a
        > y <a
          href="https://www.apple.com/watchos"
          target="_blank"
          rel="noopener noreferrer">watchOS</a
        >, utilizando <a
          href="https://www.swift.org"
          target="_blank"
          rel="noopener noreferrer">Swift</a
        > junto a <i>frameworks</i> de UI como SwiftUI, UIKit y AppKit.
      </li>
    </ul>
  </article>
</Layout>
