---
interface Props {
  pageName?: string | undefined
}

const { pageName } = Astro.props
---

<header>
  <nav class="navbar navbar-expand-md border-bottom py-3">
    <div class="container-fluid px-0">
      <a class="navbar-brand fs-3 p-0" href="/">
        <span class="text-primary">aaesalamanca</span>.dev
      </a>
      <button
        class="navbar-toggler border-0"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarToggler"
        aria-controls="navbarToggler"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggler">
        <ul
          class="navbar-nav align-items-center row-gap-2 column-gap-3 pt-2 ms-md-auto"
        >
          <li class="nav-item">
            <a
              class={pageName === 'Artículos' ? 'nav-link active' : 'nav-link'}
              href="/aaesalamanca.dev/articulos">Artículos</a
            >
          </li>
          <li class="nav-item">
            <a
              class={pageName === 'Sobre mí' ? 'nav-link active' : 'nav-link'}
              href="/aaesalamanca.dev/sobre-mi">Sobre mí</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
